/node_modules
/public/hot
/data

src/storage/logs/
src/.phpunit.result.cache

/storage/*.key
/vendor
.idea
/src/node_modules
/src/vendor
package-lock.json
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
